/meters.db
/logs/
*.log
*.csv
*.db
/__pycache__/
/meters.db-shm
/meters.db-wal
/batfiles/
*.bat
/.amplify
.antigravity
.env
routers/__pycache__
services/__pycache__
__pycache__
C:\Users\vakav\virtualpy\fuso_multiple_energymeters\EMS_Fuso\routers\__pycache__